html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

$primary: #F03000;
$background: #F0F0F0;
$grey-text:#888888;
$footer:#444444;
$spacer: 20px;

body{
    margin: 20px auto;
    max-width: 480px;
    // text-align: center;
}
h1, h2, a, .trip__price{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}
p{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 0px;
}
header{
    text-align: center;
}
.logo{
    padding: $spacer;
}
.menu{ 
    padding: $spacer 0px;
    display: flex;
    a{
    display: block;
    padding: $spacer;
    flex: 1;
    color: #F03000;
    text-decoration: none;
    font-size: 18px;

    &:hover{
        color: white;
        background-color:$primary;
    }
}
}
.samples{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 240px 150px 150px;
    gap: $spacer;
   
}
.trip{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: $spacer;

    img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    &__price{
        z-index: 1;
        position: relative;
        background-color: #F03000;
        padding: 10px;
        margin: 0px;
        width: fit-content;
        color: white;
    }
    &__title{
        z-index: 1;
        position: relative;
        width: fit-content;
        color: white;
        margin-top: auto;
        font-weight: 600;
        &--main{
            font-size: 28px;
            margin-bottom: 20px;
        }
        font-size: 20px;
        margin-bottom: 0px;
    }
    &__text{
        z-index: 1;
        position: relative;
        margin: 0px;
        width: fit-content;
        color: white;
    }
}